CONFIG_ARM=y
CONFIG_SPL_SYS_THUMB_BUILD=y
CONFIG_TPL_SYS_THUMB_BUILD=y
# CONFIG_SPL_USE_ARCH_MEMCPY is not set
# CONFIG_TPL_USE_ARCH_MEMSET is not set
CONFIG_ARCH_ROCKCHIP=y
CONFIG_SYS_TEXT_BASE=0x60000000
CONFIG_NR_DRAM_BANKS=1
CONFIG_ENV_SIZE=0x8000
CONFIG_DEFAULT_DEVICE_TREE="rk3066a-mk808"
CONFIG_SPL_TEXT_BASE=0x60000000
CONFIG_ROCKCHIP_RK3066=y
CONFIG_TPL_TEXT_BASE=0x10080C04
CONFIG_TPL_MAX_SIZE=32764
CONFIG_TARGET_MK808=y
CONFIG_SPL_STACK_R_ADDR=0x78000000
CONFIG_DEBUG_UART_BASE=0x20064000
CONFIG_DEBUG_UART_CLOCK=24000000
# CONFIG_SPL_FS_FAT is not set
CONFIG_SPL_SYS_MALLOC_SIMPLE=y
CONFIG_SPL_PAYLOAD="u-boot.bin"
CONFIG_DEBUG_UART=y
CONFIG_SYS_LOAD_ADDR=0x70A00800
CONFIG_SD_BOOT=y
CONFIG_USE_PREBOOT=y
CONFIG_DEFAULT_FDT_FILE="rk3066a-mk808.dtb"
# CONFIG_DISPLAY_CPUINFO is not set
CONFIG_DISPLAY_BOARDINFO_LATE=y
CONFIG_BOARD_LATE_INIT=y
CONFIG_SPL_USBPLUG=y
CONFIG_SPL_USB_FUNCTION_ROCKUSB=y
CONFIG_SPL_ROCKUSB=y
CONFIG_SPL_ROCKUSB_SUPPORT=y
CONFIG_USB_GADGET=y
CONFIG_SPL_USB_GADGET=y
CONFIG_SPL_ENV_SUPPORT=y
CONFIG_DM=y
CONFIG_USB=y
CONFIG_DM_USB=y
CONFIG_SPL_DM=y
CONFIG_DM_DEV_READ_INLINE=y
CONFIG_SPL_DM_USB=y
CONFIG_SPL_DM_USB_GADGET=y
CONFIG_USB_GADGET_DWC2_OTG=y
# CONFIG_LTO is not set
# CONFIG_SPL_DM_SPI is not set
# CONFIG_SPL_RAW_IMAGE_SUPPORT is not set
CONFIG_SPL_FRAMEWORK=y
# CONFIG_SPL_DOS_PARTITION is not set
# CONFIG_SPL_PARTITION_UUIDS is not set
# CONFIG_USB_FUNCTION_FASTBOOT is not set
# CONFIG_SPL_LEGACY_IMAGE_SUPPORT is not set
CONFIG_SPL_STACK_R=y
CONFIG_SPL_STACK_R_MALLOC_SIMPLE_LEN=0x200000
# CONFIG_SPL_FS_EXT4 is not set
CONFIG_TPL_NEEDS_SEPARATE_TEXT_BASE=y
CONFIG_TPL_NEEDS_SEPARATE_STACK=y
# CONFIG_BOOTM_PLAN9 is not set
# CONFIG_BOOTM_RTEMS is not set
# CONFIG_BOOTM_VXWORKS is not set
CONFIG_CMD_GPT=y
CONFIG_CMD_MMC=y
# CONFIG_CMD_SETEXPR is not set
CONFIG_CMD_CACHE=y
CONFIG_CMD_TIME=y
CONFIG_CMD_REGULATOR=y
CONFIG_SPL_OF_CONTROL=y
CONFIG_TPL_OF_CONTROL=y
CONFIG_OF_SPL_REMOVE_PROPS="interrupt-parent assigned-clocks assigned-clock-rates assigned-clock-parents"
CONFIG_OF_DTB_PROPS_REMOVE=y
# CONFIG_SPL_OF_PLATDATA is not set
CONFIG_TPL_OF_PLATDATA=y
CONFIG_SYS_RELOC_GD_ENV_ADDR=y
# CONFIG_NET is not set
CONFIG_TPL_DM=y
# CONFIG_DM_WARN is not set
CONFIG_REGMAP=y
CONFIG_SPL_REGMAP=y
CONFIG_TPL_REGMAP=y
CONFIG_SYSCON=y
CONFIG_SPL_SYSCON=y
CONFIG_TPL_SYSCON=y
# CONFIG_SIMPLE_BUS is not set
# CONFIG_SPL_SIMPLE_BUS is not set
# CONFIG_TPL_BLK is not set
CONFIG_CLK=y
CONFIG_SPL_CLK=y
CONFIG_TPL_CLK=y
# CONFIG_SPL_DM_I2C is not set
CONFIG_LED=y
CONFIG_SF_DEFAULT_SPEED=20000000
CONFIG_PINCTRL=y
# CONFIG_DM_PMIC is not set
# CONFIG_SPL_PMIC_CHILDREN is not set
CONFIG_DM_REGULATOR_GPIO=y
CONFIG_RAM=y
# CONFIG_SPL_RAM is not set
CONFIG_TPL_RAM=y
CONFIG_DM_RESET=y
# CONFIG_REQUIRE_SERIAL_CONSOLE is not set
CONFIG_DEBUG_UART_SHIFT=2
CONFIG_ROCKCHIP_SERIAL=y
CONFIG_SYSRESET=y
CONFIG_TIMER=y
CONFIG_SPL_TIMER=y
CONFIG_TPL_TIMER=y
CONFIG_DESIGNWARE_APB_TIMER=y
CONFIG_SPL_TINY_MEMSET=y
# CONFIG_ERRNO_STR is not set
# CONFIG_TPL_OF_LIBFDT is not set
# CONFIG_SPL_GPIO is not set
# CONFIG_SPL_DM_REGULATOR_GPIO is not set
# CONFIG_OF_LIVE is not set
# CONFIG_SPL_PINCTRL_FULL is not set
# CONFIG_SPL_PINCTRL is not set
CONFIG_MTD=y
CONFIG_MTD_RAW_NAND=y
CONFIG_SPL_MTD_SUPPORT=y
CONFIG_SPL_NAND_IDENT=y
CONFIG_SPL_ROCKCHIP_NAND=y
CONFIG_SPL_ROCKUSB_NAND=y
CONFIG_SPL_NAND_SUPPORT=y
CONFIG_SYS_NAND_BLOCK_SIZE=0x0